@charset "UTF-8";

/*Versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html {
 
    height: 100vh;

}

html::after{
    content: "Essa impressão foi feita atravez do site www.cursoemvideo.com.br";
    text-decoration: overline;
    text-emphasis-position: bottom;
}
body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.788);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 2em;
    
}

img{
    display: block;
    margin: auto;
}

img#phone{
    display: block;
}
img#tablet{
    display: none;
}
img#print{
    display: none;
}
img#pc{
    display: none;
}
img#tv{
    display: none;
}